body {
  margin: 0;
	background-color: #F6E8D6;
	font-family: 'Roboto', sans-serif;

}
ul{
	list-style-type: none;
}
ul.left {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #186868;
    position: fixed;
    height: 100%;
    overflow: auto;
	  border-right: thick double black;
}

li.logo{
  height: 200px;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    height: 80px;
    font-size: 30px;
}


li a.active {
    background-color: #003A3A;
    color: white;
    text-decoration: none;
}


li a:hover:not(.active) {
    background-color: #555;
    color: white;
    text-decoration: none;
}
header{
  width: 100%;
  padding: 10px;
  padding-left:20px;
  border-bottom: solid black;

}
h2{
  width: 50%;
  padding: 10px;
  border-bottom: solid black;
}
table{
  
  border-radius: 4px;
  height: 250px;
  width: 250px;
}
table.sub{
	background-color: #D6D7D8;
}

table.feedback{
	background-color: #555;
}
table.out{
	background-color: #eee;
}
th.banner{
  background-color: #186868;
  font-size: 20px;
  color: white;
  text-align: center;
  border-radius: 4px;
}


article{
    padding: 20px;
    display: inline-block;
    margin: auto;
	padding-top: 7%;
    padding-right: 50px;
}
article:hover{
	opacity: 0.3;
}
article a {
    text-decoration: none;
}

p.assignment{
  border: 1px solid black;
  height: 400px;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  background-color: #eee;
  overflow: scroll;
  
}
p.asssub{
  border: 1px solid black;
  height: 100px;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  background-color: #eee;
}
div.specs, .submit{
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	position:relative;
	
	
}

div.button{
	padding-left: 50px;
	float: right;
	padding-right: 50px;
}
div.submitbutton{
	position: absolute;
	
}
.month {
    padding: 70px 25px;
    width: 100%;
    background: #186868;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;

}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    border-radius: 4px;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #186868;
    color: white !important
}
section.calendar{
	padding: 50px;
	padding-top: 30px;
}
p.todo{
  padding: 10px;
  border-bottom: solid black 1px;
}
